* {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;


}


html,
body {
	position: relative;
	height: 100%;
}


a {
	text-decoration-style: none;
	color: black;

}

@font-face {
	font-family: "Quicksand";
	src: url("fonts/quicksand/static/Quicksand-Medium.ttf");
}


@font-face {
	font-family: "Bellerose";
	src: url("fonts/bellerose/Bellerose.ttf");
}

@font-face {
	font-family: "vintage";
	src: url("fonts/vintage/vintage.ttf");
}

/*body{background-color: #f3e9f1;}*/



.panier__objet>a>i {
	font-size: 26px;
	margin: 0 10px 5px 10px;
	
}

.panier__objet>a>i:hover{
	background: -webkit-linear-gradient(left, #cc7c4e, #945dee);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
.panier {
	display: flex;
	align-items: top;
	margin-right: 20px;
	position: relative;
}

.panier__objet {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.panier__objet p {
	font-size: 12px;
	font-weight: bold;
}

#circle {
	width: 20px;
	height: 20px;
	background: #da8300;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-size: 16px;

	font-weight: bold;
	position: absolute;
	right: 2px;
	top: 20px;
}

.logo {
	width: 150px;
}

header {
	display: flex;
	justify-content: space-between;
	height: 100px;
	box-shadow: 1px 5px 10px 0px #CCC;

	position: relative;
	z-index: 10;
}

header i {
	margin: 20px;
	font-size: 25px;

}

#banniere {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px 50px;
	background-color: #f3e9f1;
	width: 100%;
	margin-bottom: 30px;


}

.presentation-text {
	width: 50vw;
}

.presentation-text h1 {
	font-size: 60px;
	font-family: "vintage";
	line-height: 90px;
	animation: slideRight 1s forwards;
}

.big-appareil {
	width: 50vw;
	animation: slideLeft 1s forwards;

}




#product_listing h2 {

	font-family: "vintage";
	font-size: 40px;
	margin: 0px 50px;
}


#product__listing {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

.product_title {
	font-family: "vintage";
	font-weight: lighter;
}

.product_box__price {
	font-style: italic;
	color: #9e63d3;
	font-weight: bolder;


}

.product_box {
	width: 300px;
	height: 300px;

	margin: 20px;

	display: flex;
	align-items: flex-end;

	border-radius: 30px;
	position: relative;
	overflow: hidden;

	box-shadow: 1px 5px 10px 0px #b8b4b4;
}

.background {
	position: absolute;
	z-index: 0;
	top: 0;
}

.background img {
	width: 300px;
	height: 230px;
	border-radius: 30px 30px 0px 0px;

}


.product_img {
	width: 250px;
	height: 200px;


}

.product_description {
	display: none;
	font-size: 14px;
}


.product_box:hover {
	animation: scaleUp 0.5s forwards;
}

.product_box:hover>.description>.product_description {
	display: block;
	animation: slideUp 1s forwards;
}

.product_box:hover>.description {


	animation: slideUpBox 1s forwards;

}

.description {


	background-color: #FFF;
	width: 100%;
	height: 70Px;

	border-radius: 0px 0px 30px 30px;
	position: relative;
	z-index: 2;
	padding-top: 5px;


}


.description>* {

	margin: 0px 15px;
	line-height: 30px;

}

.see_product {
	float: right;
}


@keyframes slideUp {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(-5px);
	}
}

@keyframes slideUpBox {
	100% {
		height: 250Px;
	}
}





@keyframes slideLeft {
	from {
		transform: translateX(1000px);
	}

	to {
		transform: translateX(0px);
	}
}

@keyframes slideRight {
	from {
		transform: translateX(-1000px);
	}

	to {
		transform: translateX(0px);
	}
}


@keyframes scaleUp {
	from {
		transform: scale(1);
		;
	}

	to {
		transform: scale(1.1);
		;
	}
}



footer {
	height: 100px;
	width: 100%;
	text-align: center;
	margin: 30px 0px 0px 0px;

	background-color: #9e63d3;
	padding-top: 20px;
	color: #FFF;


}


#footer {
	position: absolute;
	bottom: 0;
}



/*! *******************************************************************************/
/*! ***************************** page produit *******************************************/
/*! *******************************************************************************/

#page_product__product {
	display: flex;
	flex-direction: row;
}

.page_product__img {
	width: 50%;
	
	
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.page_product__img img {

	width: 100%;
	margin: 0px 10px;
}

.page_product__description_box {
	width: 50%;
	
	margin: 50px;
	display: flex;
	flex-direction: column;

}

.page_product__description_box>* {
	margin: 20px 0px;

}

.product_price {
	font-size: 30px;
	font-weight: bold;
	color: #9e63d3;
	
}


#lenses_list{
	border: none;
	width: 150Px;
	background-color: #f3e9f1;
	height: 30px;
	border-radius: 5px;
	font-weight: bold;
}

.addToCart {

	border-radius: 5px;
	border: none;
	height: 30px;
	background-color: #9e63d3;
	color: white;
	font-weight: bold;
	width: 350px;
}


.addToCart:hover {

	box-shadow: 1px 5px 10px 0px #b8b4b4;
}


/*! *******************************************************************************/
/*! ***************************** page panier *******************************************/
/*! *******************************************************************************/
.page_panier__title {
	text-align: left;
	margin: 30px;
}

#count_cart {
	text-align: left;
	margin: 30px;
}

#shopping_cart {
	display: flex;
	justify-content: space-evenly;
}

#form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cart_product {
	display: flex;

	width: 350px;
	height: 100px;
	justify-content: space-between;

	border-radius: 30px;

	margin-top: 10px;

	box-shadow: 1px 5px 10px 0px #b8b4b4;
}

.cart_product__img {
	width: 30%;
	height: 80%;
	align-self: center;
	border-radius: 30px;
	margin-left: 10px;
}

.cart_product__infos {

	width: 50%;
	padding-left: 10px;
	position: relative;
	padding-top: 10px;
	border-radius: 0px 30px 30px 0px;

}

.btn_remove {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.btn_remove:hover{
	color: #9e63d3;
}


.input_bloc {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

label {
	margin-bottom: 8px;
}

input {
	border-radius: 5px;
	/* box-shadow: 1px 5px 10px 0px #b8b4b4; */
	border: 1px solid #ccc;
	height: 25px;
	padding-left: 10px;
	margin-bottom: 5px;
	width: 350px;
}

input:focus{
	background-color: #f3e9f1;
}



#validate_form {
	margin-top: 20px;
	border-radius: 5px;
	border: none;
	height: 30px;
	background-color: #9e63d3;
	color: white;
	font-weight: bold;
	width: 350px;
	margin-bottom: 120px;

}

#validate_form:hover{
	box-shadow: 1px 5px 10px 0px #b8b4b4;
}


/*! *******************************************************************************/
/*! ***************************** page confirmation *******************************************/
/*! *******************************************************************************/

#confirmation{
	text-align: center;
}

#confirmation > *{

	margin-top: 20px;
	
}


.final_price{
	font-size: 20px;
	font-weight: bold;
}




/*! *******************************************************************************/
/*! ***************************** media queries *******************************************/
/*! *******************************************************************************/

@media screen and (max-width: 768px) {

	.presentation-text h1{
		font-size: 28px;
	}

	#product_listing h2{
		font-size: 26px;
	}



	#product__listing {
		flex-wrap: wrap;
	}

	#shopping_cart {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#formulaire{
		margin: 30px 0px;
		
	}

	#form{
		justify-content: center;
		align-items: center;
	}

	#formulaire h3{
		margin-bottom: 30px;
	}

	#page_product__product{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.page_product__description_box{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.page_product__img{
		width: 100%;
		margin: 5px;
	}

	.page_product__img img{
		width: 100%;
	}

}



@media screen and (max-width: 400px) {

	#product__listing {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#shopping_cart {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	#banniere {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0px 50px;
		background-color: #f3e9f1;
		width: 100%;
		height: 500px;
		margin-bottom: 30px;
		position: relative;
	
	
	}
	
	.presentation-text {
		width: 50vw;
	}
	
	.presentation-text h1 {
		font-size: 40px;
		font-family: "vintage";
		line-height: 90px;
		animation: none;
/* 
		position: absolute;
		z-index: 1;

		left: 10px;
		top: 10px; */
		
		
	}
	
	.big-appareil {
		width: 50vw;
		animation: none;
		position: absolute;
		z-index: 0;

		top: 20px;
		right:10px;

		display: none;
	
	}



}